.Calculos {
    width: 50%;
    height: 150px;
    background-color: #4ec5c1 ;
    color: #ec576b;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    
 }
 h2{
    margin-bottom: 0px;

 }